body {
    background-image:url(kepek/062.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    transition: 0.3s
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#homebutton {
    float: right;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;     
}

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
}

#bejintro {
    font-weight: 666;
    text-align: center;
    font-size: larger;
}

.bejelentes {
    zoom: 1.2;
    border: solid black 0.2px;
    background-color: beige;
    margin-top: 40px !important;
    margin: 80px;
    transition: 0.3s;
}

.bejelentes:hover {
    font-size: larger;
    transition: 0.3s;
    cursor:context-menu;
}

.bejelszov {
    text-align: center;
    font-style: italic;
}

.bejnev {  
    font-weight: bold;
    display: inline;
}

.bejnevszin {
    background-color:rgba(244, 228, 110, 0.297);
    display: inline-block;
    border: solid black 0.2px;
    display: block;
}

.bejnev:hover {
    display: inline-block;
    cursor:context-menu;
    color: gray;
    font-size: 104%;
}

.rate {
    padding-top: 2px;
    border-top: solid black 0.1px;
}

div {
    margin-bottom: 30px;
}

#Navbarbej {
    background: none;
    border: none;
    margin: auto;   
}

.btn {
    width: 120px;
}

img {
    position: sticky;
    width: 100px;
    top: 0.2px;
    right: 20px;
    left: 10000px;
    float: right;
    transition: 0.2s;
}

img:hover {
    cursor:pointer;
    width: 16%;
    transition: 0.2s;
}

#ott {
    color: black;
    background-color: white;    
}