body {
    background-image:url(062.JPG);
    background-repeat: repeat-y;
    background-size: 100%;
    transition: 0.3s
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#bejintro {
    font-weight: 666;
    text-align: center;
}

.bejelentes {
    border: solid black 0.2px;
    background-color: brown;
    margin: 80px;
    transition: 0.3s;
}

.bejelentes:hover {
    font-size: larger;
    transition: 0.3s;
    cursor:context-menu;
}

.bejelszov {
    text-align: center;
    font-style: italic;
}

.bejnev {  
    font-weight: bold;
    display: inline;
}

.bejnevszin {
    background-color:rgba(205, 36, 36, 0.644);
    display: inline-block;
    border: solid black 0.2px;
    display: block;
}

.bejnev:hover {
    display: inline-block;
    cursor:context-menu;
    color: gray;
    font-size: 104%;
}

.rate {
    padding-top: 2px;
    border-top: solid black 0.1px;
}

div {
    margin-bottom: 30px;
}

#Navbarbej {
    background: none;
    border: none;
    text-align: center;
}

img {
    position: sticky;
    width: 100px;
    top: 0.2px;
    right: 20px;
    left: 10000px;
    float: right;
    transition: 0.2s;
}

img:hover {
    cursor:pointer;
    width: 16%;
    transition: 0.2s;
}

#ott {
    color: black;
    background-color: white;    
}