body {
    background-image:url(kepek/062.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    transition: 0.3s
}

#homebutton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;  
    z-index: 2;  
}

#oldalteteje {
    float: right;
    width: 2em;
    margin-bottom: 15px;
    right: 0px;
    position: fixed;
    top: 200px;
 }

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
    z-index: 2;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#Navbares {
    background: none;
    border: none;
    margin:auto;
}

.btn {
    width: 120px;
}

.fest {
    transition: 0.2s;
    background-color: beige;
    margin-bottom: 70px;
    margin-left: 320px;
    margin-right: 320px;
    padding: 20px;
    text-align: center;
    border: black solid 6px;
    opacity: 80%; 
}

.fest:hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
    background-color: burlywood;
    border: grey solid 6px;
    opacity: 100%;
}

#ott {
    color: black;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

h5 {
    margin-bottom: 60px;
    background-color: bisque;
    margin-right: 60px;
    margin-left: 60px;
    padding: 10px;
    border: black solid 2px;
    opacity: 80%;
    font-weight: 666;
    text-align: center;
    font-size: larger;
}

header {
    background-color: brown;
    border: black solid 2px;
}

@media screen and (max-width:1000px) {
    
    header {
        font-size: 100px;
    }

    h1 {
        font-size: 80px;
        margin-top: 120px;
    }

    #homebutton {
        width: 180px;
        opacity: 30%;
        position: fixed;
        top: 0px;
        float: right;
        transition: 0.2s;
    }

    h5 {
        font-size: 40px;
    }

    .fest {
        margin-left: 100px;
        margin-right: 100px;
    }
}