body {
    background-image:url(kepek/062.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    transition: 0.3s
}

#homebutton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;     
}

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
}

header {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#Navbares {
    background: none;
    border: none;
    margin:auto;
}

.btn {
    width: 120px;
}

.fest {
    transition: 0.2s;
    margin-bottom: 70px;
}

.fest:hover {
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#ott {
    color: black;
    background-color: white;
}

a {
    color: black;
    text-decoration: none;
}

