body {
    background-color: bisque;
    margin: auto;
    background-image:url(kepek/062.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

nav {
    background-color: rgb(24, 22, 22);
    height: 80px;
    margin: auto;
    text-align: center;
}

nav ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

nav ul li {
    list-style: none;
    display: inline-block;
    font-family: monsterrat;
    line-height: 80px;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(186, 169, 169);
    transition: .5s;
    text-decoration: underline;
}

#Buszkesegeink {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 32px;
    margin-right: 32px;
}

ul {
    padding-left : 0px;
}

footer ul li {
    display: inline-block;
}

#Buszk {
    border-bottom: 4px black solid;
}

#official {
    opacity: 80%;
    margin-left: 20px;
    margin-right: 20px;
}

#Orvosirendelo {
    float: right;
    overflow: auto;
    max-width: 600px;
    max-height: 700px;
    margin-top: 10px;
    width: 100rem;
    z-index: 2;
}

#kesztyus {
    border-left: 2px solid black;
}

.masodikmargo {
    padding-left: 25px;
    margin: 0px;
    margin-top: 5px;
    background-color: bisque;
    border: 2px black solid;
}

.paragrafush1 {
    border-left: 2px black solid ;
    border-right: 2px black solid;
    background-color: bisque;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 15px;
    position: static;
    z-index: 1;
    font-weight: bold;
    font-size: 25px;
}

section {
    overflow: auto;
}

.Labacskacim {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    padding-left: 25px;
    border-bottom: 4px black solid;
}

.Labacska {
    background-color: rgb(103, 19, 19);
    color: white;
    border-left: 4px black solid ;
    border-right: 4px black solid;
    border-top: 4px black solid ;
    border-bottom: 4px black solid;
    margin-top: 10px;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 6px;
}

.Labacska3 {
    padding-bottom: 10px;
}

a:link {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}

#Copyright {
    left: 0px;
    background-color: white;
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 84%;
    border-radius: 15px 50px 30px 5px;
}

#oldalteteje {
    float: right;
    width: 2em;
    margin-bottom: 5px;
    right: 0px;
 }

@media screen and (min-width: 300px) {
    .Labacska1 {
        display: none;
        padding-left: 0px;
    }

    .Labacska {
        text-align: center;
    }

    #Orvosirendelo {
        width: 80%;
        margin-right: 28px;
    }

    .buszkimg {
        width: 20%;
        height: 95px;
    }

    .buszkimg2 {
        width: 20%;
        height: 95px;
    }

    #kesztyus {
        border-left: 0px;
    }

    .buszkszoveg {
        font-size: 60%;
    }

    .paragrafush1 {
        font-size: 20px
    }

    .labacskaszoveg {
        color: #007bff;
        padding-left: 10px;
    }

    #Copyright {
        left: 0px;
        background-color: white;
        text-decoration: underline;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 50%;
        border-radius: 15px 50px 30px 5px;
        margin-bottom: 8px;
    }

    nav ul li a {
        font-size: 8px;
        padding: 5px 11px;
    }

    nav ul li {
        margin-right: 0px;
    }

    #oldalteteje {
        float: right;
        width: 2em;
        margin-bottom: 15px;
        right: 0px;
        position: fixed;
     }

}

@media screen and (min-width: 1000px) {
    .Labacska1 {
        width: 150px;
        display: inline;
    }

    .Labacska {
        align-items: center;
    }

    #Orvosirendelo {
        width: 100%;
    }

    .buszkimg {
        width: 250px;
        height: 145px;;
    }

    .buszkimg2 {
        width: 250px;
        height: 145px;
    }

    .buszkszoveg {

    }

    #kesztyus {
        border-left: 2px black solid;
    }

    .paragrafush1 {
        font-size: 25px;
    }

    .labacskaszoveg {
        color: rgb(103, 19, 19);
        display: none;
    }

    #Copyright {
        left: 0px;
        background-color: white;
        text-decoration: underline;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 84%;
        border-radius: 15px 50px 30px 5px;
        margin-bottom: 8px;
    }

    nav ul li a {
        font-size: 30px;
    }

    nav ul li {
        margin-right: 10px;
    }

    #oldalteteje {
        float: right;
        width: 2em;
        margin-bottom: 15px;
        right: 0px;
        position: fixed;
        top: 200px;
     }
}