body {
    background-color: bisque;
    padding : 20px;
    margin: auto;
    background-image:url(062.JPG);
    background-repeat: repeat-y;
    background-size: 100%;
}

#Buszkesegeink {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 12px;
    margin-right: 12px;
}

#Buszk {
    border-bottom: 4px black solid;
}

#navbar {
    margin-top: 10px;
}

#official {
    opacity: 80%;
}

#Orvosirendelo {
    float: right;
    overflow: auto;
    max-width: 600px;
    max-height: 700px;
    margin-top: 10px;
    width: 100rem;
    z-index: 2;
}

#kesztyus {
    border-left: 2px solid black;
}

.masodikmargo {
    padding-left: 25px;
    margin: 0px;
    margin-top: 5px;
    background-color: bisque;
    border: 2px black solid;
}

.paragrafush1 {
    border-left: 2px black solid ;
    border-right: 2px black solid;
    background-color: bisque;
    margin: 0px;
    padding-left: 10px;
    padding-bottom: 15px;
    position: static;
    z-index: 1;
    font-weight: bold;
}

section {
    overflow: auto;
}

.Labacskacim {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    padding-left: 25px;
    border-bottom: 4px black solid;
}

.Labacska {
    background-color: rgb(103, 19, 19);
    color: white;
    border-left: 4px black solid ;
    border-right: 4px black solid;
    border-top: 4px black solid ;
    border-bottom: 4px black solid;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 6px;
}

.Labacska3 {
    padding-bottom: 10px;
}

.Labacska1 {
    text-decoration: underline #007bff; 
    display: inline-block;
}

a:link {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
}