body{
    background-image:url(kepek/062.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;   
}

.extra {    
    background-color:beige;
    color: black;
    display: none;
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin: auto;
    padding: 20px;   
}

p:hover .extra {
    display: block; 
    width: 50%;
}

.hirek p {
    height: 100%;
}

.alcimek{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: large;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: underline;
    background-color: beige;
    color: black;
    font-size: 18px;
    padding-left: 15px;
    margin-bottom: 20px;
}

p:hover {
    color: gray;
}

#homebutton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;
    z-index: 2;     
}

#oldalteteje {
    float: right;
    width: 4em;
    margin-bottom: 15px;
    right: 0px;
    position: fixed;
    top: 200px;
    z-index: 2;
 }

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
}

.footer1{
    display: block;
    position: relative;
    padding: 5px;
    text-align: right;
}

.footer2 {
    background-color: beige;
    width: fit-content;
    padding: 10px;
    margin: 0 0 0 auto;
    position: fixed;
    bottom: 0;
    right: 0;
}

.footer2 a{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: left;
    text-align: justify;
    font-weight: bolder;
    font-size: large;
    text-decoration: underline;
    color: black;
    font-size: 18px;
}

#híreks {
    background-color : rgb(103, 19, 19);
    border-left: 6px black solid ;
    border-right: 6px black solid;
    border-top: 6px black solid ;
    border-bottom: 6px black solid;
    opacity: 80%;
    margin-left: 22px;
    margin-right: 22px;
}

#fejléc {
    text-align: center;
    background-color: bisque;
    margin-top: 8px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 15px;
    border-left: 6px black solid ;
    border-right: 6px black solid;
    border-top: 6px black solid ;
    border-bottom: 6px black solid;
}

#fejléc2 {
    text-align: center;
    background-color: rgb(103, 19, 19);
    margin-left: 22px;
    color: white;
    font-weight: bold;
    margin-right: 22px;
    margin-bottom: 4px;
    border-left: 3px black solid ;
    border-right: 3px black solid;
    border-top: 3px black solid ;
    border-bottom: 3px black solid;
    font-size: 40px;
}

@media screen and (min-width: 1000px){
    .extra {
        max-width: 70%;
    }

    .alcimek {
        font-size: 25px;
    }

    #fejléc2 {
        font-size: 25px;
    }

    h1 {
        font-size: 30px;
    }

    .footer2 {
        background-color: beige;
        width: fit-content;
        padding: 10px;
        font-size: 20px;
        margin: 0 0 0 auto;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 300px){
    .extra {
        max-width: 70%;
    }

    .alcimek {
        font-size: 50px;
    }

    #fejléc2 {
        font-size: 30px;
    }

    h1 {
        font-size: 100px;
    }

    .footer2 {
        background-color: beige;
        width: fit-content;
        padding: 30px;
        font-size: 20px;
        margin: 0 0 0 auto;
        position: fixed;
        bottom: 0;
        right: 0;
    }
}
