body{
    background-image:url(kepek/062.JPG);
    background-size: 100%;
    background-repeat: repeat-y;
    
  
    
}
h1 {
    text-align:justify;
    text-align: center;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
   

}
h2 {
    text-align:justify;
    text-align: left;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 30px;
     color: white;
background-color: rgb(103, 19, 19);
display: inline-block;

}
.extra {    
    background-color: rgb(103, 19, 19);
    color: white;
    display: none;
    text-align: left;
    color: black;
    font-size: 18px;
    padding-left: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    
    
}
p:hover .extra {
    display: inline-block;

    
}
.alcimek{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: left;
    text-align: justify;
    font-weight: bolder;
    font-size: large;
    padding-bottom: 5px;
    padding-left: 10px;
    text-decoration: underline;
    background-color: rgb(103, 19, 19);
    color: white;
   
    
   
    font-size: 18px;
    padding-left: 15px;

}
.alcimek:hover {
    color: gray;
}

#homebutton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;     
}

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
}