h1 {
    text-align: right;
    text-align: justify;
    font-weight: bolder;
}
.extra {
    
    display: none;
}
.extra:hover {
    display: inline-block;
   
 
}
.alcimek{
  display: inline-block;
    text-align: left;
    text-align: justify;
    font-weight: bolder;
    font-size: large;
    
    
     
    


}