body {
    background-color: bisque;
    padding: 20px;
    margin: auto;
    background-image:url(062.JPG);
    background-repeat: repeat-y;
    background-size: 100%;
}

#headeri {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    margin-left: 12px;
    margin-right: 12px;
}

#polok {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

#Bogrek {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

#Parnak {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

.list-group-item a:hover {
    text-decoration: underline;
}

#sectioni2 {
    background-color: black;
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 30px;
    margin-left: 12px;
    margin-right: 1430px;
    padding-left: 22px;
    padding-right: 150px;
    width: 400px;
    position: fixed;
    bottom: 400px;
    font-weight: bold;
    display: inline-block;
}

#sectioni2 li {
    text-decoration: underline;
}

#termekeink {
    text-align: center;
}

@media screen and (max-width: 2000px) {
    .card {
        width: ;
    }
}