body {
    background-color: bisque;
    padding: 20px;
    margin: auto;
    background-image:url(kepek/062.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

#headeri {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    margin-left: 12px;
    margin-right: 12px;
}

#polok {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 21px;
}

#polokep {
    float: left;
    width: 400px;
    padding-right: 30px;
}

#pololista {
    font-weight: bold;
    font-size: 25px;
}

nav {
    margin-top: 10px;
    width: 20vw;
    position: fixed;
    left: 30px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    background-color: darkred;
    list-style: none;
    overflow: auto;
    border: 2px solid;
}

#Termekeink1 {
    margin: 0px;
    padding: 0px;
    background-color: darkred;
    list-style: none;
    border: 2px solid;
}

nav a {
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    float: left;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #500d0d;
    text-decoration: underline;
}



#Bogrek {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

nav {
    margin-top: 10px;
    width: 20vw;
    position: fixed;
    left: 30px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    list-style: none;
    overflow: auto;
    border: 2px solid;
}

#Termekeink1 {
    margin: 0px;
    padding: 0px;
    background-color: bisque;
    list-style: none;
    border: 2px solid;
}

nav ul a {
    width: 100%;
    margin: auto;
    text-align: center;
    color: black;
    float: left;
    padding: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #500d0d;
    text-decoration: underline;
    color: white;
}

#Parnak {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

#Csemoiszobor {
    background-color: rgb(103, 19, 19);
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 75px;
    margin-left: 450px;
    margin-right: 50px;
    padding-left: 22px;
}

.list-group-item a:hover {
    text-decoration: underline;
}

#sectioni2 {
    background-color: black;
    color: white;
    margin-top: 10px;
    border-bottom: 4px black solid;
    border-right: 4px black solid;
    border-left: 4px black solid;
    border-top: 4px black solid;
    padding-bottom: 30px;
    margin-left: 12px;
    margin-right: 1430px;
    padding-left: 22px;
    padding-right: 150px;
    width: 400px;
    position: fixed;
    bottom: 400px;
    font-weight: bold;
    display: inline-block;
}

#sectioni2 li {
    text-decoration: underline;
}

#termekeink {
    text-align: center;
}

#homebutton {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    opacity: 30%;
    transition: 0.3s;     
}

#homebutton:hover {
    width: 10.2vw;
    opacity: 100%;
    transition: 0.3s;
}

@media screen and (min-width: 300px) {
    nav {
        margin-top: 10px;
        width: 20vw;
        position: none;
        left: 30px;
    }

    #polok {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 100px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Bogrek {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 100px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Parnak {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 100px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Termekeink1 {
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }
}

@media screen and (min-width: 500px) {
    nav {
        margin-top: 10px;
        width: 20vw;
        position: none;
        left: 30px;
    }

    #polok {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 200px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Bogrek {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 200px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Parnak {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 200px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Termekeink1 {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}

@media screen and (min-width: 1000px) {
    #polok {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 400px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Bogrek {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 400px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Parnak {
        background-color: rgb(103, 19, 19);
        color: white;
        margin-top: 10px;
        border-bottom: 4px black solid;
        border-right: 4px black solid;
        border-left: 4px black solid;
        border-top: 4px black solid;
        padding-bottom: 75px;
        margin-left: 400px;
        margin-right: 50px;
        padding-left: 22px;
    }

    #Termekeink1 {
        text-align: center;
        font-weight: bold;
        font-size: 25px;
    }
}
